
*
{
    box-sizing: border-box;
}

body{
    width: 60%;
    min-width: 800px;
    max-width: 800px;
    margin-left: 20%;
}
ul {
    align-items: center;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(114, 91, 243);  
    cursor: pointer;
}
a:hover {
    background-color: rgba(54, 43, 45, 0.863);
}
li {
    display: inline-block;
    color: rgb(135, 204, 7);
    font-size: larger;
    text-align: center;
    padding: 14px 14px;
    text-decoration:none;
    margin-left: 5%;
}
input{
    border: #0909a5;
    border-style: groove;
    box-sizing: border-box;
    color: rgb(206, 0, 0);
    padding: 10px 10px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration-style: solid;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.side-graphic{
    float: left;
    padding:0px;
    margin: 0px;
    display:inline;
    box-sizing: border-box;
    max-width: 50%;
    height:auto;
   
}
.section{
    display: inline-block;
    padding: 2%;
    background-color: blue;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    text-align: justify;
    font-size: large;
}
.article{
    display: inline-block;
    padding:2%;
    background-color:yellow;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    text-align: justify;
    font-size: large;
    margin-top: 0pt;
}
.footer{
    display: block;
    padding-top: 20pt;
    background-color: #636364;
    box-sizing: border-box;
    height: .75in;
    text-align: center;
    font-size: x-large;
}
header{
    margin-top: 35px;
    float: right;
}

